.login {
    img {
        width: 15rem;
        margin: auto;
        display: block;
        margin-top: 8rem;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
    }

    button {
        margin-top: 4rem;
    }
}
