<ion-header>
  <ion-navbar primary>
    <ion-title>
      Soundel
    </ion-title>
  </ion-navbar>
  </ion-header>

  <ion-content class="home">

    <ion-card *ngFor="let song of songs" [hidden]="song.artwork_url === null">
      <button (click)="share(song.permalink_url)" secondary id="shareButton" clear>
          <ion-icon name="share"></ion-icon>
      </button>
      <img *ngIf="song.artwork_url !== null" src="{{song.artwork_url | image}}">
      <div class="card-title">{{song.title}}</div>
      <div [hidden]="!loggedIn" (click)="like(song.id)" class="likeButton">
        <button secondary id="likeButton">Like</button>
      </div>
      <div (click)="play(song.id, song.title, song.duration)" class="playButton">
        <button secondary>Play</button>
      </div>
    </ion-card>
    
    <button (click)="search()" secondary fab fab-right fab-bottom fab-fixed>
      <ion-icon name="search"></ion-icon>
    </button>

  </ion-content>