.home {

    scroll-content {
        background-color: #FAFAFA;
    }

    #searchButton {
        bottom: 70px;
    }
    
  #shareButton {
    position: absolute;
    right: 2%;
    top: 2%;
  }
    
  ion-card {
    position: relative;
    text-align: center;
  }

  .card-title {
    position: absolute;
    top: 36%;
    font-size: 2.0em;
    width: 100%;
    font-weight: bold;
    color: #fff;
  }
  
  .likeButton {
    font-size: 2.0em;
    position: absolute;
    bottom: 2%;
    left: 2%;
  }
  
  .playButton {
      font-size: 2.0em;
      position: absolute;
      bottom: 2%;
      right: 2%;
  }
  
  #likeButton {
      color: white;
  }

  #headerText {
      text-align: center;
      margin-top: 2rem;
  }
  
  #searchItem {
      width: 58%;
      margin-left: auto;
      margin-right: auto;
  }
  
  ion-scroll {
      height: 45%;
      margin-top: 3rem;
  }
  
  @media (min-width: 400px) {
      ion-scroll {
          height: 60%;
      }
  }
  
  #songListItem {
      animation-name: fadeIn;
      animation-duration: 1s;
  }
  
  #currentPlayingText {
      color: white;
  }
  
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
}

.toast-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ion-label {
    white-space: normal;
}

.item-input {
    border-top: none !important;
}

.avatarImage {
    height: 32px;
    width:32px;
    border-radius: 50%;
  }

ion-toast {
    height: initial;
    bottom: 0;
    top: initial;
}