.page1 {
    #localVideo {
        width: 10rem;
        border-radius: 5px;
        position: absolute;
        bottom: 5px;
        left: 7px;
    }

    #optionsButton {
        position: absolute;
        z-index: 9999;
    }

    #text {
        text-align: center;
        margin-top: 20rem;
        margin-left: 4rem;
        margin-right: 4rem;
    }

    #remote {
        width: 100%;
        text-align: center;
    }
}

#userImage {
    border-radius: 50%;
    width: 4rem;
}
