<ion-header>
  <ion-navbar primary>
    <ion-title>Hodi</ion-title>
    <ion-buttons end>
      <button (click)="logout()">
        <img id="userImage" [src]="userPic">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content class="page1">
  <button id="optionsButton" *ngIf="inCall" (click)="callOptions()" clear>Call Options</button>

  <h1 id="text" *ngIf="!inCall">Not currently in a call. Tell your friend to call your gmail to start a call.</h1>

  <video id="localVideo" #local></video>
  <div id="remote" #remote></div>

  <button (click)="call()" primary fab fab-bottom fab-right>
    <ion-icon name="call"></ion-icon>
  </button>
</ion-content>