.login {

    #logo {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 15rem;
        margin-top: 9rem;
        opacity: 1;

        transform: translate3d(0, -300%, 0);
        transition: 0.5s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .animate {
        transform: translate3d(0, 0, 0) !important;
    }

    h1 {
        text-align: center;
        font-size: 4rem;
        transform: translate3d(200%, 0, 0);
        transition: 0.5s ease-in;
    }

    button {
        margin-top: 8rem;
        transform: translate3d(0, 900%, 0);
        transition: 0.5s;
        transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    @media(min-width: 800px) {
        button {
            width: 30rem;
            margin-left: auto;
            margin-right: auto;
        }
    }

}
