.home {
    ion-label {
        white-space: normal;
    }

    #likeButton {
        margin-bottom: -5px;
        float: left;
        margin-top: 5%;
    }

    #shareButton {
        float: right;
    }

    ion-item-sliding {
        contain: paint layout;
    }
}
